* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', serif;
    margin: 0;
}

header, footer {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px 0;
    margin: 0;
    
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    gap: 28px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    color: #f9faf8;
    cursor: pointer;
  }

.section_1 {
    background-color: #1f2937;
    margin: 0;
    padding: 80px 200px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.heroMainText {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.heroSecondaryText, a, footer {
    font-size: 16px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#hero_img {
    width: 600px;
}

.section_2 {
    padding: 0 200px;
}

.section_2_content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainText {
    font-size: 28px;
    font-weight: 900;
    padding: 40px;
    text-align: center;
}

.bloks_with_img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
}

.blok {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    text-align: center;
}

#blok_img {
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 12px;
    margin-bottom: 10px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 16px;
    border-radius: 7px;
    border: 2px solid #E5E7EB;
    box-shadow: none;
    padding: 5px 25px;
    flex: none;
    width: fit-content;
    cursor: pointer;
}

.section_3 {
    margin: 80px auto;
    padding: 80px 300px;
    background-color: #E5E7EB;
}

.quoter {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 300;
}

.author_quoter {
    text-align: end;
    font-weight: 700;
}

.section_4 {
    margin: 80px 200px;
    padding: 40px 200px;
    background-color:  #3882F6;
    display: flex;
    justify-content: space-between;
}

.section_4_content {
    color: #E5E7EB;
}


footer {
    padding: 30px;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    footer, .section_1, .section_2, .section_3, .section_4{
      flex-direction: column;
      align-items: center;
    }

    header {
        padding: 0 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .hamburger {
        display: block;
    }

    .links {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        background-color: #1f2937;
        top: 40px;
        padding: 10px 20px;
        border: 1px solid #445c94;
        border-radius: 8px;
      }
  
    .links.show {
        display: flex;
    }

    .section_1 {
        padding: 50px 90px;
    }
  
    .hero {
      text-align: center;
      align-items: center;
    }
  
    #hero_img {
      width: 100%;
      max-width: 400px;
    }

    .section_2 {
        padding: 0 90px;
    }
  
    .bloks_with_img {
      gap: 8px;
    }   

    .blok {
        max-width: 180px;
    }
    
    #blok_img {
        max-width: 150px;
        max-height: 150px;
    }

    .section_3 {
        padding: 40px 90px;
        margin: 70px 0;
    }

    .quoter {
        font-size: 26px;
    }

    .section_4 {
        margin: 40px 90px;
        padding: 40px 0;
        gap: 20px;
        text-align: center;
    }
  
    button {
      width: 100%;
      max-width: 200px;
    }
  }
  